/**
  * Author: Alonso Vidales <alonso.vidales@tras2.es>
  * Date: 2012-02-13
  */

html, body {
	background: #b3c35a;
	color: #2b5809;
	font-family: sans-serif;
	overflow: hidden;
}

#main_canvas {
	width: 800px;
	height: 950px;
}

#background_loading_api {
	float: left;
	width: 50px;
	height: 50px;
}

#player_div {
	float: left;
	width: 370px;
	height: 50px;
}

#searchbox_div {
	width: 380px;
	height: 50px;
	float: right;
}

#playlists_div {
	float: left;
	border-top: 1px solid #e6e6e6;
	height: 540px;
	width: 180px;
	overflow: scroll;
}

#details_div {
	border-top: 1px solid #e6e6e6;
	border-left: 1px solid #e6e6e6;
	width: 610px;
	height: 525px;
	float: right;
	overflow: scroll;
}

#searchbox_input {
	width: 200px;
	height: 20px;
	font-size: 15px;
	border-radius: 10px;
}

#searchbox_type {
	height: 20px;
	font-family: sans-serif;
	font-size: 15px;
	border-radius: 10px;
}

#search_image {
	padding-left: 10px;
	width: 25px;
}

#searchbox_elements li {
	float: left;
	list-style: none;
}

.hd {
	display: none;
}

ul#searchbox_autocomplete {
	background: none repeat scroll 0 0 #ffffff;
	border: 1px solid #52b2d4;
	padding: 5px;
	position: absolute;
	width: 195px;
	z-index: 9999;
}

ul#searchbox_autocomplete li.selected {
	background-color: #eff7fa;
	text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.2);
}

ul#searchbox_autocomplete li:first-child {
	border-top: medium none;
}

ul#searchbox_autocomplete li {
	text-overflow: ellipsis;
	border-top: 1px dotted #999999;
	position: relative;
}

ul#searchbox_autocomplete li a {
	text-decoration: none;
	color: #295989;
	display: block;
	font-size: 12px;
	padding: 5px;
	width: 185px;
}

a.show_more {
	padding-bottom: 30px;
}

div.loading_div {
	width: 32px;
	height: 32px;
	background-image: url('../img/loading.gif');
	background-repeat: no-repeat;
}

.popularity {
	background-image: url('../img/stars-rating-sprite.png');
	background-repeat: no-repeat;
	width: 120px;
	height: 38px;
}

.popularity.score_0 {
	background-position: 0px -190px;
}

.popularity.score_1 {
	background-position: 0px -152px;
}

.popularity.score_2 {
	background-position: 0px -114px;
}

.popularity.score_3 {
	background-position: 0px -76px;
}

.popularity.score_4 {
	background-position: 0px -38px;
}

.popularity.score_5 {
	background-position: 0px 0px;
}

#add_playlist_link {
	text-decoration: none;
	font-size: 14px;
}

div.alert_pop_up {
	-webkit-box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
	-moz-box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;

	background: #eee;
	width:328px;
	position:absolute;
	top: 30%;
	left: 30%;
	z-index:5000;
}

.track_link {
	cursor: move;
}

.playlist_link {
	text-decoration: none;
}

.playlist_link.over {
	color: #38700b;
}

img#trash_img {
	float: right;
	
}

.player_button {
	background-image: url('../img/play_buttons.png');
	background-repeat: no-repeat;
	width: 30px;
	height: 30px;
}

.player_button.rewind {
	background-position: -123px 0px;
}

.player_button.fordware {
	background-position: -90px 0px;
}

.player_button.play {
	background-position: -60px 0px;
}

.player_button.stop {
	background-position: -30px 0px;
}

.player_button.pause {
	background-position: 0px 0px;
}

#player_buttons li {
	float: left;
	list-style: none;
}

.player_button.rewind.disabled {
	background-position: -123px -30px;
}

.player_button.fordware.disabled {
	background-position: -90px -30px;
}

.player_button.play.disabled {
	background-position: -60px -30px;
}

.player_button.stop.disabled {
	background-position: -30px -30px;
}

.player_button.pause.disabled {
	background-position: 0px -30px;
}

#player_title_div {
	padding-top: 5px;
	padding-left: 10px;
}

#player_timmer_div {
	padding-top: 5px;
	padding-left: 10px;
}
